{% extends "base.html" %}
{% load static %}
{% block title %}Задача {{ object.id }}{% endblock %}
{% block main_content %}
    <h1>Задача</h1>
    <p><b>Описание</b>: {{ object }}</p>
    <p><b>Пользователь</b>: {{ object.owner }}</p>
    <ul>
        <li>
        {{ object.task_text }}
        </li>
        <li><i class="far fa-calendar-alt">Создана: {{ object.created|date:"j F Y H:i" }}</li>
        <li><i class="far fa-clock">Последнее изменение: {{ object.updated|date:"j F Y H:i"}}</li>
        <li> <a href="{% url 'tasks:edit' pk=object.pk %}">Редактировать</a></li>
    </ul>
    {% for comment in comments %}
    <p> Комментарий:</p>
    <p> Автор: </p> {{ comment.comment_text }}
    <p> Комментарий:</p>

    {% endfor %}

    <a href="{% url 'tasks:list' %}">Назад к списку</a>
{% endblock %}