{% extends "base.html" %}
{% load static %}

{% block title %} Задачи {% endblock %}

{% block extra_head %} {% endblock %}

{% block main_content %}
    <h1>
    Все задачи
    </h1>

    <ul id="tasks-list">
        {% for task in tasks %}
        <br>
        <li>
            <a href={% url "tasks:detail" task.id %}> {{ task.task_title }}</a> <br>
            {{ task.task_text }} <br>
            {{ task.created }} <br>
            {{ task.updated }}
        </li>
        {% endfor %}
    </ul>
{% endblock %}