
form.tasks-create {
 outline: 0;
 height: 36px;
 margin-top: 5%;
 border: 3px solid #3b3b3b;
}


form.tasks-create > input[type="text"] {
 outline: 0;
 width: 55%;
 height: 32px;
 border: none;
 font-size: 18px;
 font-weight: normal;
 padding-left: 10px;
}

